.movie-app-container {
  width: 680px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.search-button {
  background-color: #4f46e5;
  border: none;
  color: white;
  cursor: pointer;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 16px;
  margin-top: 32px;
}

.movie-detail {
  display: flex;
  gap: 30px;
  text-align: left;
  margin-top: 20px;
}

.movie-detail img {
  max-width: 300px;
  height: fit-content;
  border-radius: 8px;
}

.info h2 {
  margin-top: 0;
}

.fav-button {
  width: 100%;
  padding: 15px;
  border-top: 1px solid #c7c6da;

  background: transparent;
  color: #4f46e5;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}

.fav-button.active {
  background: #fef2f2;
  color: #ef4444;
  border-color: #ef4444;
}

.fav-button:hover {
  background: #4f46e5;
  color: white;
}

.movie-card-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.movie-card {
  width: 100%;
  margin: 0;
  box-shadow: none;
}
