.movie-app-container {
  width: 680px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.search-button {
  background-color: #4f46e5;
  border: none;
  color: white;
  cursor: pointer;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 16px;
  margin-top: 32px;
}

.movie-detail {
  display: flex;
  gap: 30px;
  text-align: left;
  margin-top: 20px;
}

.movie-detail img {
  max-width: 300px;
  border-radius: 8px;
}

.info h2 {
  margin-top: 0;
}
