#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-nav {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  gap: 20px;
}

.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: #4f46e5;
}

.nav-link:hover {
  text-decoration: underline;
}
